@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Itailic";
  src: url("/assets/fonts/OpenSans-Italic-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  @apply w-11/12 mx-auto md:w-10/12 xl:container p-4 sm:p-0
}