@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Open Sans";
  src: url("/assets/fonts/OpenSans-VariableFont.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Itailic";
  src: url("/assets/fonts/OpenSans-Italic-VariableFont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.wrapper {
  @apply w-11/12 mx-auto md:w-10/12 xl:container p-4 sm:p-0
}
.input-text {
  @apply block p-3 w-full rounded-md border-0 py-1.5 text-zinc-900 shadow-sm ring-1  ring-zinc-300 placeholder:text-zinc-400 sm:text-sm sm:leading-6;
}